<!DOCTYPE html>
<div ng-include src="'partials/menu.html'"></div>

<div class="container-fluid">
	<div class="row">

		<div class="btn-group-vertical" role="group" aria-label="...">
			<button type="button" class="btn btn-default">1</button>
			<button type="button" class="btn btn-default">2</button>

			<div class="btn-group" role="group">
				<button type="button" class="btn btn-default dropdown-toggle"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Dropdown <span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a href="#">Dropdown link</a></li>
					<li><a href="#">Dropdown link</a></li>
				</ul>
			</div>
		</div>
		
	<div class="col-md-6" id="log_container">



	<div class="input-group">
		<span class="input-group-addon" id="basic-addon1">@</span> <input
			type="text" class="form-control" placeholder="Username"
			aria-describedby="basic-addon1">
	</div>

	<div class="input-group">
		<input type="text" class="form-control"
			placeholder="Recipient's username" aria-describedby="basic-addon2">
		<span class="input-group-addon" id="basic-addon2">@example.com</span>
	</div>
</div>	
		
	</div>
</div>



<!-- invisable partials -->
<div ng-include src="'partials/about.html'"></div>

<!-- footer -->
<div ng-include src="'partials/footer.html'"></div>
